
body {
  background-image: url('/images/stardust.png');
  color: #FFFFFF;
}

input, select, textarea {
  color: black;
  display: block;
}

img {
  vertical-align: middle;
}

ul {
  list-style-type: none;
  padding: 0;
}

.user-buttons > form {
  display: inline-block;
}

.right-sidebar {
  display: inline-block;
  float: right;
  max-width: 45%;
}

.left-sidebar {
  display: block;
  float: left;
  max-width: 45%;
}

a,
a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.top-bar {
  background-color: #3C3C3C;
}

.top-bar-section {
  display: inline-block;
  float: right;
}

.top-bar-section li {
  display: inline-block;
  margin-left: 1em;
}

.logo {
  display: inline-block;
  margin: 1em 0;
}

.flash-notice {
  padding: 1em;
  background-color: #3B9089;
}

.flash-error {
  padding: 1em;
  background-color: tomato;
}
